
/Tools/ServiceAuthor/bin
/Tools/ServiceAuthor/obj
/Global/FileHash/bin
/Global/FileHash/obj
/Global/MetaData/bin
/Global/MetaData/obj
/Global/UPnP/bin
/Global/UPnP/obj
/Global/UPNP_AV/bin
/Global/UPNP_AV/obj
/Global/UPNPAV_DeviceRendererStack/bin
/Global/UPNPAV_DeviceRendererStack/obj
/Global/UPNPAV_RendererStack/bin
/Global/UPNPAV_RendererStack/obj
/Global/UPNPAVCDSML/bin
/Global/UPNPAVCDSML/obj
/Global/UPNPAVMSCP/bin
/Global/UPNPAVMSCP/obj
/Global/UPNPAVMSDV/bin
/Global/UPNPAVMSDV/bin
/Global/UPNPAVMSDV/obj
/Global/ValidatorInterfaces/bin
/Global/ValidatorInterfaces/obj
/Tools/DeviceBuilder/bin
/Tools/DeviceBuilder/obj
/Tools/DeviceRelay/bin
/Tools/DeviceRelay/obj
/Tools/DeviceSniffer/bin
/Tools/DeviceSniffer/obj
/Tools/DeviceSpy/bin
/Tools/DeviceSpy/obj
/Tools/DeviceValidator/bin
/Tools/DeviceValidator/obj
/Tools/MediaController/bin
/Tools/MediaController/obj
/Tools/MediaRenderer/bin
/Tools/MediaRenderer/obj
/Tools/MediaServer/UPnPMediaServer/bin
/Tools/MediaServer/UPnPMediaServer/obj
/Tools/MediaServer/UPnPMediaServerCore/bin
/Tools/MediaServer/UPnPMediaServerCore/obj
/Tools/MediaWizard/bin
/Tools/MediaWizard/obj
/Tools/NetworkLight/bin
/Tools/NetworkLight/obj